*{
	box-sizing: border-box;
	margin: 0rem;
	padding: 0rem;
}
html{
	font-size: 1px;
}
body{
	background: #eeeeee;
}
.Head{
	background: #dddddd;
	position: fixed;
	width: 100%;
	top: 0rem;

}
.Head.Bottom{
	top: auto;
	bottom: 0px;
}

.Head-Content{
	max-width: 1460rem;
	margin: 0 auto;
	padding-left: 30rem;
	padding-right: 30rem;
	position: relative;

	img{
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	p{
		display: inline-block;
		font-family: 'PT Sans', sans-serif;
		color: black;
		font-size: 24rem;
		text-transform: uppercase;
		line-height: normal;
		position: relative;
		top: 7rem;
		padding-left: 36rem;
	}

	.Button{
		position: absolute;
		width: 140px;
		background: #eeeeee;
		height: 100%;
		right: 30px;
		top: 0px;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		//Установка Flex

		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;

		-webkit-box-pack: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;

		.Add{
			background: url("../img/cross.png");
			background-size: cover;
			width: 24px;
			height: 24px;
			cursor: pointer;
		}
	}

	.Button:hover{
		background: #dddddd;;
	}
}
.Head-Content:after{
	clear: both;
}
.Head-Content:before, .Head-Content:after{
	content: " ";
	display: table;
}
.One-Row{

	font-family: 'Open Sans', sans-serif;
	width: 100%;
	font-size: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.Col{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	font-size: 16rem;
	text-align: center;
	vertical-align: bottom;


	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	img{
		 max-width: 100%;
		 height: 20px;
	 }
	border-right: 1px solid #444444;
	border-bottom: 1px solid #444444;
	padding: 15px;
}

.c-1, .c-2, .c-4{
	width: 10%;
}
.c-3{
	width: 26%;
}
.c-5{
	width: 22%;
}
.c-6{
	width: 10%;
}
.c-7{
	width: 6%;
}
.c-8{
	width: 6%;
}
.Videos-Head .Col.col-last{
	width: 12%;
	border-right:none;
}

.Video-Wrapper {
	padding-left: 30px;
	padding-right: 30px;
}
.Videos{
	margin: 0 auto;
	max-width: 1400px;
	border-right: 1px solid #444444;
	border-left: 2px solid #444444;
	border-bottom: 1px solid #444444;
	position: fixed;
	top: 150px;
	left: 30px;
	right: 30px;

}

.Videos-Head {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;



	.Col{

		border-right: 1px solid #eeeeee;
		border-bottom: none;
		background: #444444;
		color: #eeeeee;
		font-family: 'Open Sans', sans-serif;
	}
}

.Edit{
	width: 18px;
	height: 18px;
	background:url("../img/edit.png");
	cursor: pointer;
}
.Delete{
	width: 18px;
	height: 18px;
	background:url("../img/delete.png");
	cursor: pointer;
}