* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1px;
}

body {
  overflow-x: hidden;
}

* img {
  max-width: 100%;
}

* h1 {
  font-size: 40rem;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

* h2 {
  font-size: 30rem;
  text-align: center;
  text-transform: uppercase;
}

* h3 {
  font-size: 30rem;
  text-align: center;
}

* p, span, li {
  font-size: 19rem;

}

* p {
  text-align: center;
  line-height: 28rem;
}

#video_background {
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -999;
  overflow: hidden;
}

.Central {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.Blond-Back {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  opacity: 0.4;
  z-index: -99;
}

.Page-1, .Page-2, .Page-3, .Page-4, .Page-5 {
  overflow: hidden;

}

.Page-2, .Page-3, .Page-4, .Page-5 {
  box-shadow: inset 0 4px 12px rgba(152, 153, 154, 1);
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}

.Page-2, .Page-4 {
  background: url("../img/metal-white.jpg") repeat;
  background-position: center;
  color: black;
  background-size: cover;
}

.Page-3, .Page-5 {
  background: url("../img/metal-dark.jpg") repeat;
  background-position: center;
  color: white;
  background-size: cover;
}

.Page-3 .Top hr, .Page-5 .Top hr {
  border-color: white;
}

.Page-1 {
  position: relative;
  width: 100%;
  height: 899px;
  padding-top: 80px;

}

.Page-1 .Central {

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

}

.Header-1 {
  position: relative;
  width: 100%;

  .Logo-Wrapp {
    position: absolute;
    margin-left: 15px;
    top: -15px;
    left: 0;

    .Logo-Head {
      height: 180px;
    }

    h3 {
      color: #b10000;
      font-weight: 400;

    }

  }

  .Professional {

    h3 {
      font-size: 42rem;
      text-align: right;
      text-shadow: rgba(35,34,34,1) 1px 1px 0,rgba(35,34,34,1) -1px -1px 0,rgba(35,34,34,1) -1px 1px 0,rgba(35,34,34,1) 1px -1px 0;
      font-family: ACLine;
      color: #EFEFEF;
      letter-spacing: 2rem;
    }

    h3:nth-of-type(1) {

      font-weight: bold;

      letter-spacing:13rem;
      text-transform: uppercase;
    }
    h3:nth-of-type(2) {

      font-weight: bold;

      text-transform: uppercase;
      padding-right: 9rem;

    }
  }

  .Phone-Top {

    padding-right: 30px;

    h2 {
      text-align: right;
      font-weight: 400;
      font-size: 25rem;
      padding-right: 7rem;
      text-shadow: 0 0 1px rgba(35,34,34,1);
      color: #e8e8e8;

    }

  }
}

.Bottom {
  width: 100%;
  text-align: center;
  padding: 62rem 0 34rem 0;
  position: relative;

}

.Page-1 .Bottom {
  position: absolute;
  bottom: 50rem;
}

.Bottom img {
  display: block;
  margin: 0 auto;
  padding-top: 20rem;
  transition: all .5s linear;
}

.Bottom h2 {
  padding-bottom: 45rem;
}

.Button {
  font-size: 18px;
  width: 198rem;
  height: 48rem;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 auto;
  padding-top: 10rem;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  font-weight: 400;
  box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.85);
  text-shadow: 0 0 0 #655757;

  transition: all 0.15s linear;

}

.Page-5 .Button, .Page-3 .Button {
  border: 1px solid white;
  color: white;
}

.Button:hover {
  color: #cf0000;
  border-color: #cf0000;
  text-shadow: 0 0 5px #655757;
  box-shadow: 0 0 12px 0 rgba(50, 50, 50, 0.85);

  transition: all 0.15s linear;
}

.Page-5 .Bottom .qwe-up {
  background: url('../img/Arrow-up-white.png') no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 16px;
  left: 50%;
  margin-left: -20px;
  top: -10px;

  transition: all 0.15s linear;
}

.Page-5 .Button:hover ~ .qwe-up {
  background: url('../img/Arrow-up-red.png') no-repeat;
  top: -15px;

  transition: all 0.15s linear;

}

.Bottom .Button:hover ~ .qwe, .Bottom .Button:hover ~ .qwe-2 {
  bottom: -5rem;

  transition: all 0.15s linear;
  background: url("../img/Arrow-down-red.png") no-repeat;
  background-position: center;

}

.qwe {
  background: url("../img/Arrow-down-big.png") no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 16px;
  left: 50%;
  margin-left: -20px;
  bottom: 0;

  transition: all 0.15s linear;

}

.qwe-2 {
  background: url("../img/Arrow-down-white.png") no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 16px;
  left: 50%;
  margin-left: -20px;
  bottom: 0;

  transition: all 0.15s linear;

}

.Menu-Top {
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, .1);
  background-color: rgba(255, 255, 255, 0.9);

  .Menu-Top-In {
    width: 100%;
    height: 100%;
    background: url("../img/menu-back.png");
    background-size: contain;
    animation: lenta 50s infinite linear;

  }
  .Email-Top {
    position: absolute;
    top: 17px;
    left: 30px;
    a {
      font-size: 17rem;
      font-weight: 400;
      text-decoration: none;

      text-shadow: 0 0 1px rgba(81, 80, 80, 0.71);

      color: #f20000;
    }
  }
  .Language {
    position: absolute;
    right: 30px;
    top: 19px;
    a {
      font-size: 15rem;
      text-decoration: none;
      text-shadow: 0 0 1px rgba(81, 80, 80, 0.71);

      color: #f20000;
      margin-left: 6px;
      font-weight: 400;
    }
  }
  .Header-1-Text {
    text-align: center;
    padding-top: 17px;

  }

  .Header-1-Text span {
    font-family: 'Monitorca-Bold';
    margin-right: 15rem;
    margin-left: 15rem;
    color: black;
    font-size: 21rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: all 0.1s linear;
    transform: scale(1);

  }

  .Header-1-Text span:hover {
    color: #cf0000;
    transition: all 0.2s linear;
    transform: scale(1.1);

  }
}

@keyframes lenta {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

.Wheel-Small {
  position: absolute;
  height: 40px;
  top: 36px;
  left: 19px;

  -webkit-animation-name: rotation;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.Wheel-Big {
  position: absolute;
  height: 59px;
  top: 17px;
  left: 59px;

  -webkit-animation-name: rotation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.Top h2 {
  padding-top: 50rem;
  padding-bottom: 30rem;
}

.Top {
  width: 100%;
  padding-bottom: 56rem;
}

.Top p {
  display: block;
  margin: 0 auto;
  max-width: 900rem;
  padding: 0 10rem 0 10rem;
  font-weight: 400;
  font-size: 18rem;
}

.Top hr {
  display: block;
  border: none;
  border-top: 1px solid black;
  max-width: 596rem;
  margin: 0 auto;
  padding-bottom: 29rem;
}

.Arrow-Left, .Arrow-Right, .Video-Container {
  display: inline-block;
}

.Arrow-Left {
  position: absolute;
  top: 50%;
  margin-top: -38px;
  left: 7%;
  cursor: pointer;
}

.Arrow-Right {
  position: absolute;
  top: 50%;
  margin-top: -38px;
  right: 7%;
  cursor: pointer;
}

.Item-Holder {
  width: 25%;
  padding: 0 2.5% 0 2.5%;
  position: relative;

}

.Item-Holder-In:hover .Item-Holder-Hide {

  transition: top 0.15s linear;
}

.Item-Holder-In:hover .Item-Holder-Show {
  top: 100%;

  transition: top 0.15s linear;
}

.Item-Holder:nth-last-of-type(1) * h3 {
  line-height: 66px;
}

.Item-Holder-In {
  position: relative;
  overflow: hidden;
  background: #77726B;
  border-radius: 7px;
  color: white;
  min-height: 470px;

  transition: box-shadow 0.15s linear;

  z-index: 9;

}

.Item-Holder-Show {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;

  transition: top 0.15s linear;

  p {
    padding: 0 30rem;
  }

}

.Item-Holder-Hide {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;

  background: #77726B;
  border-radius: 7px;

  z-index: 99;

  transition: top 0.15s linear;

  p {
    padding: 0 15rem 20rem;
  }

  li {
    list-style-type: none;
    padding: 7px 13px 0 30px;
    position: relative;
  }
  li:before {
    content: "-";
    position: absolute;
    font-size: 16rem;
    left: 19px;

  }
}

.Item-Holder-In img {
  display: block;
  margin: 0 auto;
}

.HR2 {
  background-color: white;
  height: 1px;
  max-width: 180rem;
  margin: 50rem auto 45rem;
}

.Video-Container-Wrapp-2 {
  padding: 0 2.5% 0 2.5%;
  width: 25%;

}


.Video-Container {
  background: #f1f1f1;
  border-radius: 7px;
  width: 100%;
  min-height: 542px;
  cursor: pointer;

  transition: all 0.2s linear;
  transform: scale(1);
}
.Video-Container:hover{
  transition: all 0.2s linear;
  transform: scale(1.1);
}
.Item-Holder-In:hover {

  transition: box-shadow 0.15s linear;
  box-shadow: 0 0px 12px rgba(10, 13, 15, .5);
}

.Play-Button {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 24px solid transparent;
  border-left: 46px solid white;
  border-bottom: 24px solid transparent;
  margin-left: -23px;
  margin-top: -12px;
  cursor: pointer;
}

.Video-Container-Wrapp {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  //Установка Flex

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.Img-Container {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 7px 7px 0 0;
  background-repeat: no-repeat;
}

.Img-Container.Cont-Number-1 {

  background: url("../img/P3-video-img-1.jpg") center;
  background-size: cover;
}

.Img-Container.Cont-Number-2 {

  background: url("../img/P3-video-img-2.jpg") center;
  background-size: cover;
}

.Img-Container.Cont-Number-3 {
  background: url("../img/P3-video-img-3.jpg") center;
  background-size: cover;
}

.Img-Container.Cont-Number-4 {

  background: url("../img/P3-video-img-4.jpg") center;
  background-size: cover;
}

.Text-Container {
  width: 100%;
  color: black;
  text-align: left;
  padding: 0 30rem;
}

.Text-Container h3 {
  padding: 32rem 0 23rem 0;
  color: #303030;
}

.Text-Container p {
  padding-top: 28rem;
  padding-bottom: 70rem;
  color: #303030;
}

.Text-Container hr {
  border: none;
  border-bottom: 1px solid;
}

.List {
  display: block;
  text-align: center;
  font-size: 16rem;
  padding: 8rem 0;
}

.Page-4 p {
  padding-top: 45rem;
  font-weight: 400;
  font-size: 18rem;
}

.Page-4{
  position: relative;
}
.Logo-By-We{
  position: absolute;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -368px;
  margin-top: -150px;
  opacity: 0.1;
}

.Page-4 h3 {
  padding-top: 27rem;
  padding-bottom: 5rem;
}

.Contact-Box-1 {
  display: inline-block;
  background: #f1f1f1;
  background-position: center;

  color: black;
  padding: 32rem 48rem 30rem 48rem;
  min-width: 360rem;
  border-radius: 7px;
  margin: 10rem;
  min-height: 580rem;

}

.Contact-Box-2 {
  display: inline-block;
  background: #f1f1f1;
  background-position: center;
  color: black;
  padding: 32rem;
  min-width: 360rem;
  border-radius: 7px;
  margin: 10rem;
  min-height: 580rem;
}

.Email img, .Email-Container-2 {
  display: inline-block;
  vertical-align: middle;
}

.Email img {
  width: 20%;
}

.Email-Container-2 {
  padding-left: 29rem;
  width: 69%;

  p {
    font-size: 16rem;
  }
}

.Email-Container span {
  text-align: center;
  font-size: 16rem;
}

.Email-Container a {
  font-size: 14rem;
  text-decoration: none;
  color: black;
}

.Email-Container p {
  text-align: left;
  font-size: 16rem;
}

.Email .Email-Container {
  display: inline-block;
  vertical-align: middle;
  padding-left: 29rem;
  text-align: left;
  width: 69%;
}

.Email {
  padding-top: 57rem;
}

.Contact-Box-1 span {
  text-align: center;
  width: 100%;
  display: block;
  padding-top: 50rem;
}

.Email-Hr {
  background: #cccccc;
  display: block;
  margin: 22rem 0 20rem 0;
  width: 100%;
  height: 1px;
}

.Email-Hr:last-of-type {
  margin: 7rem 0;
}

.Page-5 .Bottom {
  bottom: -40px;
  padding: 30rem 0 17rem 0;
}

.Page-5 .Bottom span {
  padding: 20rem 0 17rem 0;
  display: block;
}

.Client-Data {
  position: relative;
  background-color: white;
  width: 100%;
  margin-top: 13rem;
  height: 50rem;
}

.Client-Data:nth-of-type(4) {
  height: 150rem;
}

.Client-Data span {
  display: block;
  position: absolute;
  font-size: 14rem;
  left: 20rem;
  top: 18rem;
}

input {
  width: 100%;
  border: none;
  height: 100%;
  padding-left: 20rem;
  font-size: 18rem;
}

textarea {
  width: 100%;
  border: none;
  height: 100%;
  resize: none;
  padding-left: 20rem;
  padding-top: 14rem;
  font-size: 18rem;
}

.Send {
  display: block;
  width: 100%;
  background: #b10000;
  color: white;
  text-align: center;
  padding: 16rem 0;
  border-radius: 0 0 4px 4px;
  font-size: 18rem;
  margin-top: 15rem;
  cursor: pointer;
}



.Social{
  text-align: center;
  margin-top: 50px;
  a{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Vk{
    background: url("../img/vk.png");
    background-size: cover;
  }
  .Vk:hover{
    background: url("../img/vk-active.png");
  }
  .You{
    background: url("../img/youtube.png");
    background-size: cover;
  }
  .You:hover{
    background: url("../img/youtube-active.png");
    background-size: cover;
  }
  .Facebook{
    background: url("../img/facebook.png");
    background-size: cover;
  }
  .Facebook:hover{
    background: url("../img/facebook-active.png");
    background-size: cover;
  }

}