@media (max-width: 1600px) {
  * p, span, li {
    font-size: 16rem;
  }
  * h3{
    font-size: 24rem;
  }
}
@media  (max-width: 1024px) {
  .Menu-Top .Menu-Top-In{
    animation: lenta 30s infinite linear;
  }
  .Top p{
    padding-left: 20px;
    padding-right: 20px;
  }
  .Contact-Box-1, .Contact-Box-2{
    width: 40%;

  }
  .Central, .Video-Container-Wrapp{
    flex-wrap: wrap;
  }

  .Item-Holder, .Video-Container-Wrapp-2{
    width: 40%;
    margin-top: 35px;
  }
}
@media  (max-width: 960px) {
  .Logo-By-We{
    height: 200px;
    margin-left: -245px;
    margin-top: -100px;
  }
  .Menu-Top .Menu-Top-In{
    animation: lenta 20s infinite linear;
  }
  .Header-1 .Phone-Top{
    padding-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .Header-1 .Professional h3{
    text-align: center;
    letter-spacing: normal !important;
  }
  .Header-1 .Phone-Top h2{
    text-align: center;
  }
  .Contact-Box-1, .Contact-Box-2{
    width: 50%;
  }
  .Video-Container-Wrapp {
    flex-direction: column;

  }
  .Header-1-Text {
    display: none;
  }
  .Arrow-Right,.Arrow-Left{
    display: none;
  }
  .Video-Container-Wrapp-2 {
    padding: 0;
    height: auto;
    width: 50%;
    margin-top: 35rem;
  }

  .Central{
    flex-direction: column;
  }

  .Item-Holder{
    width: 50%;
    padding: 0;
  }
}
@media  (max-width: 700px) {


  .Menu-Top .Menu-Top-In{
    animation: lenta 15s infinite linear;
  }
  .Contact-Box-1, .Contact-Box-2{
    width: 90%;
    min-width: inherit;
  }

  .Video-Container-Wrapp-2 {
    width: 70%;
    margin: 40rem 0;
  }
  .Item-Holder {
    width: 70%;
  }
  .Video-Container{
    min-height: 400rem;
  }

}
@media (max-width: 500px) {
  .Logo-By-We{
    height: 150px;
    margin-left: -184px;
    margin-top: -75px;
  }
  .Header-1 .Professional h3{
    font-size: 35rem;
  }
  .Header-1 .Logo-Wrapp{
    left: 50%;
    margin-left: -135px;
    top: 30px;
  }
  .Wheel-Small{
    height: 25px;
    top: 21px;
    left: 11px;
  }
  .Wheel-Big{
    height: 40px;
    top: 6px;
    left: 36px;
  }
  .Header-1 .Logo-Wrapp .Logo-Head{
    height: 110px;
  }
  .Menu-Top .Menu-Top-In{
    animation: lenta 10s infinite linear;
  }
  .Video-Container-Wrapp-2 {
    height: auto;
    width: 70%;
  }
}
@media (max-width: 400px) {
  .Logo-By-We{
    height: 100px;
    margin-left: -122px;
    margin-top: -50px;
  }


  .Item-Holder,.Video-Container-Wrapp-2 {
    width: 90%;
  }
  h1 {
    font-size: 30rem;
  }
}

